# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.pyo
*.py[co]
*.env
*.venv

# Media files
media/
staticfiles/

# Django migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/
*/migrations/*.py

# Pytest
.pytest_cache/
cover/

# Environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.pid
*.log
docker-compose.override.yml
*.env

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
